.course-card{
    border-radius: 8px;
}
.course-card-img{
    border-bottom-left-radius: none;
    border-bottom-right-radius: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

@media (min-width:320px){
    .course-card{
        width: 18rem;
    }
}


@media (min-width:999px){
    .course-card{
        width: 30rem;
    }
}
@media (min-width:1400px){
    .course-card{
        width: 30rem;
    }
}