.custom-toggler {
  border: none;
  background: transparent;
  padding: 0.25rem 0.5rem;
  color:white;
}

.custom-toggler .navbar-toggler-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='%23333' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12.5A.5.5 0 0 1 3 12h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-5A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-5A.5.5 0 0 1 3 2h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
  background-size: contain;
}
/* Custom styles to ensure off-canvas works on all screen sizes
.offcanvas-backdrop {
  display: none;
}

@media (min-width: 992px) {
  .offcanvas {
    position: relative;
    width: 250px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  .offcanvas.show {
    transform: none;
  }
} */

/* Custom styles for the navbar-toggler button */
.custom-toggler {
  border-color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
